
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f0f;
  color: white;
}
/* BOUTON ROUGE ANIME NIGHT VISION */
.nv-red-btn {
  background: linear-gradient(90deg, #ff0000, #b30000);
  color: white;
  font-weight: 700;
  padding: 14px 22px;
  border-radius: 12px;
  text-align: center;
  transition: 0.2s;
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.6);
  animation: pulseGlow 1.8s infinite ease-in-out;
}

.nv-red-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.9);
}

@keyframes pulseGlow {
  0% { box-shadow: 0 0 10px rgba(255,0,0,0.45); }
  50% { box-shadow: 0 0 25px rgba(255,0,0,0.85); }
  100% { box-shadow: 0 0 10px rgba(255,0,0,0.45); }
}
